* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 50px;
  width: 100%;
  background-color: red;
}

.main-visual {
  height: 500px;
  width: 100%;
  background-color: orange;
}

.main {
  height: 1400px;
  width: 960px;
  margin: 0 auto;
}

.left-sidebar {
  height: 1400px;
  width: 230px;
  float: left;
  background-color: palegreen;
}

.blog {
  height: 1400px;
  width: 500px;
  float: left;
  background-color: limegreen;
}

.right-sidebar {
  height: 1400px;
  width: 230px;
  float: left;
  background-color: palegreen;
}

.footer {
  background-color: blue;
  width: 100%;
  height: 100px;
}